- url_prefix = I18n.locale == :it ? "/it" : "/en"

section.get-in-touch: .wrap: .get-in-touch__inner
  = link_to t('cta.button-label'), "#{url_prefix}/contact-us/index.html", class:"button--rev" 
    
  .space--top-2= text
