.space--top-7
  h2.section__title Vuoi iscriverti?
.space--top-2
  p= link_to "Scrivici una mail a #{dato.contacts_page.email}","mailto:#{dato.contacts_page.email}", target: "_blank"

.space--top-7
.section__title Dove si svolge l'evento?
.space--top-2
.card__item--map#map data-lat="#{event.location.latitude}" data-lon="#{event.location.longitude}"

