$white-color: #fbfbfb
$black-color: #202126

$base-body-color: $white-color
$light-body-color: #000

$bg-color: $black-color
$light-bg-color: #ebebeb

$border-color: $white-color
$alert-color: #de0017
$notice-color: #079acc
$primary-color: #fbfbfb

$rev-body-color: #fbfbfb
$rev-bg-color: $primary-color

$light-grey-color: #969696
$dark-bg-color: $black-color


$extra-light-grey: $white-color
$light-blue-color: #3C7281
$light-brown-color: $white-color
