
.card__item--image
  @extend .card__item
  min-height: 300px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  +at-breakpoint(lap)
    min-height: 500px

.card__item--text
  @extend .card__item
  position: relative
  background-color: $white-color

.card__content
  +center-vertically
  +horizontal-padding(2)

.card__content__title, .card__content__subtitle
  text-align: center
  text-transform: uppercase
  +heading-font-family

.card__content__title
  color: $extra-light-grey

.card__content__subtitle
  text-transform: uppercase
  +margin-top(2)

.card__content__text
  text-align: justify
  text-align-last: center
  +vertical-margin(2)

.card--horizontal
  
  .card__item
    min-height: 350px
    +at-breakpoint(desk)
      display: inline-block
      width: 50%
      vertical-align: top
      min-height: 500px

  .card__content
    +at-breakpoint(lap)
      +center
      width: 50%

.card--vertical
  +margin-bottom(2)

  .card__item
    min-height: 400px
    display: block
    margin: 0 auto
    +at-breakpoint(desk)
      width: 80%

  .card__item--image
    +at-breakpoint(lap)
      min-height: 220px
    +at-breakpoint(desk)
      min-height: 400px

  .card__item--text
    min-height: 350px

  .card__content
    +center-vertically
    +horizontal-padding(2)
