.card

.card__content__button
  background-color: $bg-color
  &:hover
    opacity: .9

.card__item, .card__item--image
  @extend .card__item
  min-height: 150px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  +at-breakpoint(lap)
    min-height: 200px

.card__image

.card__item--text
  @extend .card__item
  position: relative

.card__item--text__bg--up
  +position(absolute, 0 null null 0)
  img
    height: 100px
    +at-breakpoint(lap)
      height: 100%

.card__item--text__bg--down
  +position(absolute, auto 0 0 null)
  img
    height: 200px
    +at-breakpoint(lap)
      height: 100%

.card__content
  position: relative
  +padding(2)
  width: 100%
  box-sizing: border-box
  +at-breakpoint(desk)
    +padding(4)
    +center-vertically

.card__content__kicker
  text-align: center
  text-transform: uppercase
  +heading-font-family
  +margin-bottom(2)
  color: $light-grey-color
  font-size: 14px
  font-weight: lighter

.card__content__title
  +margin-bottom(3)
  text-align: center
  text-transform: uppercase
  +font-size(gamma)
  letter-spacing: 2px
  font-weight: bold

.card__content__text
  text-align: center
  +margin-bottom(2)
  line-height: 1.1

.card--horizontal
  max-width: 500px
  margin: 0 auto
  background-color: #121212
  border-radius: 3px
  position: relative
  .card__content
    +center
  +at-breakpoint(desk)
    max-width: none

  .card__item
    min-height: 350px
    +at-breakpoint(desk)
      display: inline-block
      width: 50%
      vertical-align: top
      min-height: 500px

.card--vertical
  +margin-bottom(2)
  background-color: #121212
  border-radius: 3px
  position: relative
  min-height: 300px
  .card__spacer
    +center
  .card__item--text
    +padding(4)
  &:hover
    opacity: .6

.card__item--text__bg--right
  +position(absolute, 0 0 0 0)
  background-image: image-url('logo-light.svg')
  background-repeat: no-repeat
  background-position: -100% center
  background-size: 400px
  opacity: .2

.card__item--text__bg--left
  opacity: .2
  +position(absolute, 0 0 0 0)
  background-image: image-url('logo-light.svg')
  background-repeat: no-repeat
  background-position: 200% center
  background-size: 400px

.card--horizontal--right
  @extend .card--horizontal
  direction: rtl

  .card__item--text
    direction: ltr

.card__item--map, .card__item--label
  min-height: 400px

.card__item--map
  +at-breakpoint(desk)
    width: 100%
    vertical-align: top
.card__item--label
  position: relative
  text-align: left
  +at-breakpoint(desk)
    width: 30%
    display: inline-block
    vertical-align: top
.card__item--label
  direction: ltr
  text-align: left
  position: relative

.card__item--label__content
  +horizontal-padding(4)

.card__item--label__content__title
  +font-size(gamma)
  text-transform: uppercase
  +heading-font-family

.card__item--label__content__text
  a
    color: $primary-color
