.footer
  background-color: $white-color
.footer__inner
  +vertical-padding(2)

.footer__logo
  text-align: center

.footer__logo__text
  text-align: center
  +font-size(milli)
  color: $extra-light-grey

.footer-copyright
  +vertical-padding(2)
  text-align: center
  color: $extra-light-grey
  +font-size(milli)
  *
    color: $extra-light-grey
    +font-size(milli)
    text-decoration: none
