.hero
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-grey-color
  background-size: cover
  position: relative
  i.icon--arrow-down
    +font-size(beta)
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
    +at-breakpoint(tab)
      +font-size(alpha)

.hero__body
  display: table
  width: 100%
  text-align: center
  min-height: 460px
  +at-breakpoint(medium)
    min-height: 600px

.hero__body__inner
  display: table-cell
  vertical-align: middle
  +vertical-padding(4)
  position: relative

.hero__heading
  +heading-font-family
  +font-size(beta)
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 740px
  color: $primary-color
  +at-breakpoint(medium)
    font-size: 40px
    max-width: 550px

.hero__text
  font-family: $body-font-family
  +font-size(delta)
  +margin-top(2)
  max-width: 750px
  margin-left: auto
  margin-right: auto
  font-weight: normal
  +horizontal-padding(1)
  +at-breakpoint(medium)
    +font-size(gamma)

.hero__actions
  +margin-top(2)

.hero--primary
  @extend .hero
  background-color: $dark-bg-color
  color: $light-bg-color

  .hero__text a
    color: $light-bg-color

.hero__image
  img
    +at-breakpoint(medium)
      width: 550px

    +at-breakpoint(wall)
      width: 900px

.hero--villa
  @extend .hero
  .hero__subheading, .hero__heading, .hero__text
    color: $white-color

  .hero__heading
    letter-spacing: 4px
    +at-breakpoint(medium)
      font-size: 80px
      letter-spacing: 8px
      max-width: 850px
    +at-breakpoint(wall)
      font-size: 100px

  .hero__subheading
    text-transform: uppercase
    font-family: $body-font-family
    font-size: $base-font-size
    +at-breakpoint(medium)
      +font-size(30px)

  .hero__heading
    text-transform: uppercase

.hero--apartment
  @extend .hero--villa
  // background-color: $light-brown-color

.hero--contacts
  @extend .hero--villa
  background-image: image-url('contacts_bw.jpg')

  .hero__body
    background-color: $light-brown-color

.hero--about
  @extend .hero--villa
  background-image: image-url('pattern-white.jpg')
  .hero__subheading, .hero__heading, .hero__text
    color: $primary-color

  .hero__heading
    +font-size(beta)
    +at-breakpoint(medium)
      +font-size(alpha)
    +at-breakpoint(wall)
      font-size: 50px
