.main-nav
  text-align: center
  &.is-active
    .main-nav__first
      display: block

.main-nav__first
  display: none
  background: $bg-color

.main-nav__first--nested
  @extend .main-nav__first
  +at-breakpoint(desk)
    &:hover
      .main-nav__nested
        display: block

.main-nav__first__item

.main-nav__link
  +heading-font-family
  color: $primary-color
  display: block
  +vertical-padding(1)
  text-transform: uppercase
  &:hover
    color: #969696

.main-nav__first__item--stick-left
  @extend .main-nav__first__item

.main-nav__first__item--stick-right
  @extend .main-nav__first__item
  color: $extra-light-grey

.main-nav__nested
  display: none
  +at-breakpoint(desk)
    position: absolute
    +padding(2)
    background: $bg-color
    text-align: left

.main-nav__nested__item


+at-breakpoint(desk)
  .main-nav__first, .main-nav__first__item
    +inline-block

  .main-nav__link
    color: $extra-light-grey
    +horizontal-padding(2)
    +horizontal-margin(1)

  .main-nav__first__item--stick-left
    +position(fixed, 30% null null -38px)
    transform: rotate(-90deg)

  .main-nav__first__item--stick-right
    width: 145px
    +position(fixed, 30% -50px null null)
    transform: rotate(-90deg)
