.section
  +at-breakpoint(lap)
    max-width: 60%
    margin: 0 auto

.section--specs
  background-color: $white-color
  position: relative

.section__inner
  +vertical-padding(4)
  position: relative
  +at-breakpoint(tab)
    +padding(4)

.section__title
  +heading-font-family
  +font-size(beta)
  color: $primary-color
  text-align: center
  max-width: 550px
  line-height: 1.3em
  margin: 0 auto
  +at-breakpoint(tab)
    +font-size(alpha)

.section__text

.section__specs
  box-sizing: border-box
  vertical-align: top
  +at-breakpoint(desk)
    display: inline-block
    width: 50%
    +padding(3)

.section--specs__title
  text-align: center
  +heading-font-family
  text-transform: uppercase
  +font-size(delta)
  +vertical-padding(2)

.section--specs-bg
  +position(absolute, 50% null null 50%)
  transform: translate(-50%, -50%)
  img
    min-width: 250px
